<tr>
  <th scope="row"><%= link_to influencer.id, influencer %></th>
  <td><%= influencer.name %></td>
  <td><%= influencer.pic %></td>
  <td><%= influencer.pic_phone_number %></td>
  <td><%= influencer.gender %></td>
  <td><%= influencer.social_media_accounts.kept.count %></td>
</tr>