<tr>
  <th scope="row"><%= link_to bulk_influencer.id, bulk_influencer_path(bulk_influencer.id) %></th>
  <td><%= bulk_influencer.total_row %></td>
  <td><%= bulk_influencer.current_row %></td>
  <td><%= bulk_influencer.total_error %></td>
  <td><%= show_progress bulk_influencer.current_row, bulk_influencer.total_row %></td>
  <td>
    <% if bulk_influencer.total_row == bulk_influencer.current_row %>
      Complete
    <% elsif bulk_influencer.cancelled_at.present? %>
      Cancel
    <% else %>
      Running
    <% end %>

    <% if bulk_influencer.error_messages.present? %>
      with Error
    <% else %>
      with Success
    <% end %>
  </td>
  <td>
    <%= bulk_influencer.created_at.strftime("%F %H:%M") %>
  </td>
  <td>
    <a class="align-items-center pe-0" href="#" data-bs-toggle="dropdown">
      <%= icon_for("three-dots-vertical") %>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <%= link_to download_uploaded_file_bulk_influencer_path(bulk_influencer), class: "btn btn-danger btn-sm dropdown-item d-flex align-items-center" do %>
          <%=  icon_for("file-earmark-arrow-down-fill") %>
          <span>Download Uploaded File</span>
        <% end %>
      </li>
      <% if bulk_influencer.total_row == bulk_influencer.current_row %>
      <li>
        <%= button_to bulk_influencer_path(bulk_influencer), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure want to delete?' } }, class: "btn btn-danger btn-sm dropdown-item d-flex align-items-center" do %>
          <%=  icon_for("trash") %>
          <span>Remove</span>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= button_to cancel_bulk_influencer_path(bulk_influencer), method: :put, form: { data: { 'turbo-confirm': 'Are you sure want to cancel ?' } }, class: "btn btn-danger btn-sm dropdown-item d-flex align-items-center" do %>
          <%=  icon_for("x-circle") %>
          <span>Cancel</span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </td>
</tr>