<div class="pagetitle">
  <h1>Performance Report for <%= link_to @campaign.name, @campaign %></h1>
  <h4>Brand : <%= @campaign.brand.name %></h3>
  <h4>Platform : <%= @campaign.platform %></h3>
</div>

<section class="section">
  <%= render 'budget_overview' %>

  <%= render 'initial_plan' %>

  <%= render 'actual' %>
  
  <%= render 'performance_report_table' %>
</section>
