<div class="pagetitle">
  <h1>New Payment Request for <%= link_to @campaign.name, @campaign %></h1>
</div>

<%= render 'shared/breadcrumbs' %>

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create new Payment Request</h5>
          <%= bootstrap_form_for(@payment_request, url: campaigns_payment_requests_path(@campaign), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", html: { autocomplete: "off"}, data: { controller: 'price-format payment-request-remaining-amounts' }) do |f| %>
            <%= render 'shared/error_messages', object: @campaign %>
            <%= render "form", f: f, campaign: @campaign %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</section>