<body>
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <% if OrganizationSetting.first&.logo&.attached? %>
                  <%= image_tag OrganizationSetting.first.logo, {class: 'img-fluid w-60'} %>
                <% else %>
                  <a href="#" class="logo d-flex align-items-center w-auto">
                    <%= image_tag 'mediarumu.png' %>
                    <span class="d-none d-lg-block">MediaRumu</span>
                  </a>
                <% end %>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your email & password to login</p>
                  </div>

                  <% if flash[:alert].present? && flash[:alert].include?('tidak valid') %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <span>Email atau password yang anda masukkan salah.</span>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  <% end %>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'row g-3'}) do |f| %>
                    <div class="col-12">
                      <%= f.label :email, class: "form-label" %>
                      <div class="input-group has-validation">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
                      </div>
                    </div>

                    <div class="col-12">
                      <%= f.label :password, class: "form-label" %>

                      <div class="input-group mb-3" data-controller="password-toggle">
                        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', data: { 'password-toggle-target': 'passwordField' }, require: true %>

                        <button class="btn btn-outline-secondary" type="button" id="password-addon" data-action="click->password-toggle#toggleVisibility"  data-password-toggle-target="toggleButton">
                          <i class="bi bi-eye"></i>
                        </button>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <%= f.check_box :remember_me, class: 'form-check-input' %>
                        <%= f.label :remember_me, class: 'form-check-label' %>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <%= render "devise/shared/links" %>
                    </div>
                  <% end %>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

</body>