<!-- Page Title -->
<div class="pagetitle">
<h1><%= image_tag url_for(@brand.logo.variant(:thumb)) %> <%= @brand.name %> <%= icon_link_to('pencil-square', edit_brand_path(@brand)) if policy(:brand).edit? %> </h1>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Campaigns</h5>

          <%= render 'campaigns/campaigns_table', campaigns: @active_campaigns, hide_new_campaign_link: true %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Past Campaigns</h5>

          <%= render 'campaigns/campaigns_table', campaigns: @completed_campaigns, hide_new_campaign_link: true %>
        </div>
      </div>
    </div>
  </div>
</section>