<table class="table table-striped table-hover table-responsive">
  <thead class="table-primary">
    
    <tr>
      <th></th>
      <th><%= sort_link(@q, :username) %></th>
      <th><%= sort_link(@q, :platform) %></th>
      <th><%= sort_link(@q, :followers) %></th>
      <th>Size</th>
      <th><%= sort_link(@q, :estimated_impression, 'Views') %></th>
      <th><%= sort_link(@q, :estimated_engagement_rate, 'ER') %></th>
      <th><%= sort_link(@q, :estimated_engagement_rate_branding_post, 'ERB') %></th>
      <th><%= sort_link(@q, :estimated_engagement_rate_average, 'ER AVG') %></th>
      <th><%= sort_link(@q, :estimated_reach, 'Reach') %></th>
      <th>Categories</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @social_media_accounts.each do |social_media_account| %>
      <tr id=<%= dom_id(social_media_account) %>>
        <td class="align-middle"><%= image_tag url_for(social_media_account.profile_picture.variant(:thumb)), class: 'rounded-circle' %></td>
        <td class="align-middle"><%= link_to_social_media_account(social_media_account.username, social_media_account.platform) %>
        <td class="align-middle"><%= icon_for social_media_account.platform %>
        <td class="align-middle"><%= number_with_delimiter social_media_account.followers %></td>
        <td class="align-middle"><%= social_media_account.size %></td>
        <td class="align-middle"><%= number_with_delimiter social_media_account.estimated_impression.to_i, locale: :id %></td>
        <td class="align-middle"><%= number_to_percentage social_media_account.estimated_engagement_rate, precision: 2 %></td>
        <td class="align-middle"><%= number_to_percentage social_media_account.estimated_engagement_rate_branding_post, precision: 2 %></td>
        <td class="align-middle"><%= number_to_percentage social_media_account.estimated_engagement_rate_average, precision: 2 %></td>
        <td class="align-middle"><%= number_with_delimiter social_media_account.estimated_reach.to_i %></td>

        <td class="align-middle">
          <%= badges_for(social_media_account.categories.map { |cat| cat.name }) %>
        </td>
       
        <td class="align-middle">
          <% unless defined?(show_options) && show_options == false %>
            <a class="align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <%= icon_for("three-dots-vertical") %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <% if current_user.has_any_role?(:admin, :kol) %>
                <li>
                  <%= button_to management_managements_account_path(@management), method: :delete, class: "btn btn-danger btn-sm dropdown-item d-flex align-items-center", params: { management_id: @management.id, social_media_account_id: social_media_account.id }, form: { data: { 'turbo-confirm': "Are you sure want to remove #{social_media_account.username}?" } } do %>
                    <%=  icon_for("trash") %>
                    <span>Remove</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

